body{  
    /* background-image: url('images/cool-background.png'); */
    background-position: initial;
    background-size: cover;
    background-repeat: unset;
    align-content: center;
    background-attachment: fixed;
}

.top-container{
    text-align: center;
    color: white;
    margin-top: 30% ;
    padding-bottom: 10%;

}

.zoomed-text:hover{
  transition: transform .10s;
}
.zoomed-text:hover{
  transform: scale(0.8);
}

.items{
    justify-content: right;
}

#navbar{
    text-align: center;
    padding:30px 70px 0 70px
}

.nav-brand{
    height: 50px;
    width: 55px;
    border-radius: 100%;
}

.about{
    background-color: #142850;
    color: white;
    text-align: center;
    padding: 30px 100px 30px 100px;
}

hr{
    background-color: #b1b1b1;
    width: 35%;
}


.section{
    background-color: #024249;
    color: white;
    text-align: center;
    padding: 30px 100px 30px 100px;
}


/* Skills bar section  */
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{

  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 10px;
  color: rgb(53, 53, 53);
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: #ffcc33;
}
.bar.back::before{
  background-color: #ffe3a6;
}

.bar.learning::before{
  width: calc(20% - 10px);
}
.bar.basic::before{
  width: calc(40% - 10px);
}
.bar.intermediate::before{
  width: calc(60% - 10px);
}
.bar.advanced::before{
  width: calc(80% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}


/* Footer  */
.footer-logo{
    height: 30px;
    width: 30px;
    margin: 15px;
}

footer{
    color: white;
    text-align: center;
    padding: 30px 100px 30px 100px;
    display: flex;
}

.hobbies{
    background-color: #142850;
    color: white;
    text-align: center;
    padding: 30px 100px 30px 100px;
}

.collage{
  height: 500px;
  width: 450px;
}
.contact{
    background-color: #024249;
    color: white;
    text-align: center;
    padding: 30px 100px 30px 100px;
}
